body{
    height: 100%;
}
.sideContainer{
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-right: 48px;
    margin-left: 90px;
    height:100%;
    margin-top: 50px;

}

.userInfo{
    display: flex;
    flex-direction: row;
}
.iconSpacing{
    margin-bottom: 20px;
}

.imageContainer {
    margin-bottom: 70px;
}
.contentPadding{
    padding: 50px 150px 114px 45px;
    background: #F5F5F5;
}
.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputField {
    width: 348px;
    padding: 12px 18px;
}
.tablePadding{
    padding: 30px 30px 30px 30px;
}

.profileAvatar{
    display: flex;
   flex-direction: column;
   padding-left: 100px;

   
}

.radio {
    display: flex;
    flex-direction: row;
}
.radio2 {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.marginR{
    margin-right: 75px;
    padding-top: 35px;
}
.marginRR{
    margin-right: 100px;
    padding-top: 5px;
}

.btnSpacing {
    padding-left: 14px;
    padding-top: 30px;
}

.btnContainer{
    padding-left: 152px;
    padding-top: 30px;
}